{{ define "index" }}
{{ template "header" .}}
<div class="jumbotron">
    <h1 class="display-4">Hello, {{.Email}}!</h1>
    <hr class="my-4">
    {{ if .Authorized }}
        <p>The following link provides you with the authorization bundle:</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/api/users/{{.ID}}/keys" role="button">Download Bundle</a>
        </p>
    {{ else }}
        <p class="lead">You do not have sufficient permissions to use this service. Please check with an administrator that you have been granted access.</p>
    {{ end }}
</div>
{{ template "footer" .}}
{{ end }}