{{ define "noaccess" }}
{{ template "header" .}}
<div class="jumbotron">
    <h1 class="display-4">Hello, {{.Email}}!</h1>
    <p class="lead">You have no access to this service. Thanks for logging in!</p>
    <hr class="my-4">
    {{ if .Authorized }}
        <p>You have been granted access to something though! Here's the bundle to login.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/api/users/{{.ID}}/keys" role="button">Download Bundle</a>
        </p>
    {{ end }}
</div>
{{ template "footer" .}}
{{ end }}