{{ define "user" }}
{{ template "header" .}}
<div class="row">
    <div id="users" style="width: 100%"><h4>Users:</h4>
        <table class="table table-striped table-bordered dt-responsive nowrap" id="users-table" cellspacing="0" width="100%">
            <thead id="table-head-1">
            <tr id="table-head-row-1">
                <th>#</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Authorized</th>
                <th>Authorized Hosts</th>
                <th>Unix User</th>
                <th>Edit</th>
                <th>Download Certs</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalTitle">User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="userModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function editUser(id, elem) {
        var user = window.users[elem];
        $("#userModalBody").html(`
            <form id="updateForm" action="/api/users/${id}" method="POST">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" value="${user.Email}" name="email">
                </div>
                <div class="form-group">
                    <label for="unixuser">Authorized Hosts</label>
                    <input type="text" class="form-control" id="authorizedhosts" placeholder="Unix User" value="${user.AuthorizedHosts}" name="authorizedhosts">
                </div>
                <div class="form-group">
                    <label for="unixuser">Unix User</label>
                    <input type="text" class="form-control" id="unixuser" placeholder="Unix User" value="${user.UnixUser}" name="unixuser">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ${user.Authorized ? 'checked' : ''} name="authorized"> Authorized
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ${user.Admin ? 'checked' : ''} name="admin"> Admin
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="override"> Override Certificates
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        `);

        $('#updateForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url : $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (data) {
                    console.log(data);
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            window.location.reload();
        });

        $("#userModal").modal({
            show: true
        });
    }

    $(function() {
        $.getJSON('/api/users', function(data) {
            if (data.users) {
                window.users = data.users;
                for (var elem in data.users) {
                    var user = data.users[elem];
                    $("#users-table > tbody").append(`
                        <tr>
                            <th>${user.ID}</th>
                            <th>${user.Email}</th>
                            <th><i class="fa ${user.Admin ? 'fa-check' : 'fa-times'}" style="color: ${user.Admin ? 'green' : 'red'}"></i></th>
                            <th><i class="fa ${user.Authorized ? 'fa-check' : 'fa-times'}" style="color: ${user.Authorized ? 'green' : 'red'}"></i></th>
                            <th>${user.AuthorizedHosts}</th>
                            <th>${user.UnixUser}</th>
                            <td><button onclick="editUser(${user.ID}, ${elem})" class="btn btn-primary">Edit</button></td>
                            <td><a href="/api/users/${user.ID}/keys" class="btn btn-primary">Download Keys</a></td>
                        </tr>
                    `);
                }
            }
            users_table = $('#users-table').DataTable({
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            users_table.buttons().container().appendTo('#users-table_wrapper .col-sm-6:eq(0)');
        });
    })
</script>
{{ template "footer" .}}
{{ end }}